<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Benjamin Stepp</title>
    <meta name="description" content="my personal website" />
    <style><%= css %></style>
    <script><%= js %></script>
  </head>
  <body>
    <header>
      <h1>Benjamin Stepp</h1>
      <span class="pronouns">(he/him)</span>
    </header>
    <main>
      <p>
        Hey. My name is Ben, and I am a software engineer currently working at
        <a href="https://tiltify.com" rel="noreferrer nopener">Tiltify</a> that
        has been building things on the web for over 20 years using more
        languages and tools than I can count at this point.
      </p>
      <p>
        I am currently interested in back-end system design and programming in
        Elixir, but I also have years of professional experience working on
        many different levels of the stack (including everything from devops to
        art direction).
      </p>
      <p>
        Be kind, and remember you are appreciated.<span class="cursor" aria-hidden="true">&nbsp;</span>
      </p>
      <h2>Find me on the world wide web:</h2>
      <ul>
        <li>
          <a href="https://github.com/benstepp" rel="noreferrer noopener"
            >GitHub</a
          >
        </li>
        <li>
          <a href="https://twitter.com/benstepp" rel="noreferrer noopener"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://linkedin.com/in/benjamin-stepp-48278241"
            rel="noreferrer noopener"
            >Linkedin</a
          >
        </li>
        <li>
          <a href="https://twitch.tv/foooman" rel="noreferrer noopener"
            >Twitch</a
          >
        </li>
        <li>
          <a href="https://benstepp.com" rel="noreferrer noopener">Website</a>
        </li>
      </ul>
    </main>
  </body>
</html>
